body{
  background-color: lightgray;
  font-family: sans-serif;
  text-align: justify;
}
h1 {
    background-color: black;
    color: white;
    text-align: right;
 }

  h2 {
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: white 5px solid;
  }

p{
    margin-left: 20%;
    margin-right: 20%;
}
p.date{
    border-top: black 3px solid;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
}

time {
    background-color: gray;
    color: white;
    font-size: 170%;
    font-weight: bold;
    letter-spacing: 3px;
  }

  q{
      border-bottom: red 2px dashed;
  }
  span.sitio{
      color: blue;
  }
  span.cargo{
      background-color: white;
      color: red;
  }